// TEMPORARY
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>

/ {
	compatible = "mediatek,mt6878";

	interrupt-parent = <&gic>;

	psci {
		compatible = "arm,psci-0.2";
		method = "smc";
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			reg = <0x0000>;
			performance-domains = <&performance 0>;
			enable-method = "psci";
			cpu-idle-states = <&cpuoff_l &clusteroff_l &mcusysoff_l
						&system_vcore &s2idle>;
			capacity-dmips-mhz  = <267>;
		};

		cpu1: cpu@1 {
			device_type = "cpu";
			reg = <0x0100>;
			performance-domains = <&performance 0>;
			enable-method = "psci";
			cpu-idle-states = <&cpuoff_l &clusteroff_l &mcusysoff_l
						&system_vcore &s2idle>;
			capacity-dmips-mhz  = <267>;
		};

		cpu2: cpu@2 {
			device_type = "cpu";
			reg = <0x0200>;
			performance-domains = <&performance 0>;
			enable-method = "psci";
			cpu-idle-states = <&cpuoff_l &clusteroff_l &mcusysoff_l
						&system_vcore &s2idle>;
			capacity-dmips-mhz  = <267>;
		};

		cpu3: cpu@3 {
			device_type = "cpu";
			reg = <0x0300>;
			performance-domains = <&performance 0>;
			enable-method = "psci";
			cpu-idle-states = <&cpuoff_l &clusteroff_l &mcusysoff_l
						&system_vcore &s2idle>;
			capacity-dmips-mhz  = <267>;
		};

		cpu4: cpu@100 {
			device_type = "cpu";
			reg = <0x0400>;
			performance-domains = <&performance 1>;
			enable-method = "psci";
			cpu-idle-states = <&cpuoff_b &clusteroff_b &mcusysoff_b
						&system_vcore &s2idle>;
			capacity-dmips-mhz  = <1024>;
		};

		cpu5: cpu@101 {
			device_type = "cpu";
			reg = <0x0500>;
			performance-domains = <&performance 1>;
			enable-method = "psci";
			cpu-idle-states = <&cpuoff_b &clusteroff_b &mcusysoff_b
						&system_vcore &s2idle>;
			capacity-dmips-mhz  = <1024>;
		};

		cpu6: cpu@102 {
			device_type = "cpu";
			reg = <0x0600>;
			performance-domains = <&performance 1>;
			enable-method = "psci";
			cpu-idle-states = <&cpuoff_b &clusteroff_b &mcusysoff_b
						&system_vcore &s2idle>;
			capacity-dmips-mhz  = <1024>;
		};

		cpu7: cpu@103 {
			device_type = "cpu";
			reg = <0x0700>;
			performance-domains = <&performance 1>;
			enable-method = "psci";
			cpu-idle-states = <&cpuoff_b &clusteroff_b &mcusysoff_b
						&system_vcore &s2idle>;
			capacity-dmips-mhz  = <1024>;
		};

		cpu-map {
			cluster0 {
				core0 {
					cpu = <&cpu0>;
				};
				core1 {
					cpu = <&cpu1>;
				};
				core2 {
					cpu = <&cpu2>;
				};
				core3 {
					cpu = <&cpu3>;
				};
				doe_dvfs_cl0: doe {
				};
			};

			cluster1 {
				core0 {
					cpu = <&cpu4>;
				};
				core1 {
					cpu = <&cpu5>;
				};
				core2 {
					cpu = <&cpu6>;
				};
				core3 {
					cpu = <&cpu7>;
				};
				doe_dvfs_cl1: doe {
				};
			};
		};

		idle-states {
			entry-method = "arm,psci";
			cpuoff_l: cpuoff-l {
				compatible = "arm,idle-state";
				arm,psci-suspend-param = <0x00010000>;
				local-timer-stop;
				entry-latency-us = <25>;
				exit-latency-us = <57>;
				min-residency-us = <5700>;
			};
			cpuoff_b: cpuoff-b {
				compatible = "arm,idle-state";
				arm,psci-suspend-param = <0x00010000>;
				local-timer-stop;
				entry-latency-us = <35>;
				exit-latency-us = <82>;
				min-residency-us = <1890>;
			};
			clusteroff_l: clusteroff-l {
				compatible = "arm,idle-state";
				arm,psci-suspend-param = <0x01010001>;
				local-timer-stop;
				entry-latency-us = <57>;
				exit-latency-us = <134>;
				min-residency-us = <5700>;
			};
			clusteroff_b: clusteroff-b {
				compatible = "arm,idle-state";
				arm,psci-suspend-param = <0x01010001>;
				local-timer-stop;
				entry-latency-us = <50>;
				exit-latency-us = <144>;
				min-residency-us = <2460>;
			};
			mcusysoff_l: mcusysoff-l {
				compatible = "arm,idle-state";
				arm,psci-suspend-param = <0x02010007>;
				local-timer-stop;
				entry-latency-us = <863>;
				exit-latency-us = <1237>;
				min-residency-us = <5700>;
			};
			mcusysoff_b: mcusysoff-b {
				compatible = "arm,idle-state";
				arm,psci-suspend-param = <0x02010007>;
				local-timer-stop;
				entry-latency-us = <648>;
				exit-latency-us = <1172>;
				min-residency-us = <4570>;
			};
			system_vcore: system-vcore {
				compatible = "arm,idle-state";
				arm,psci-suspend-param = <0x020100ff>;
				local-timer-stop;
				entry-latency-us = <2400>;
				exit-latency-us = <4800>;
				min-residency-us = <35200>;
			};
			s2idle: s2idle {
				compatible = "arm,idle-state";
				arm,psci-suspend-param = <0x020180ff>;
				local-timer-stop;
				entry-latency-us = <10000>;
				exit-latency-us = <10000>;
				min-residency-us = <4294967295>;
			};
		};
	};

	clk26m: oscillator@0 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <26000000>;
		clock-output-names = "clk26m";
	};

	soc: soc@0 {
		compatible = "simple-bus";
		ranges = <0x0 0x0 0x0 0x20000000>;

		#address-cells = <1>;
		#size-cells = <1>;

		timer {
			compatible = "arm,armv8-timer";
			interrupt-parent = <&gic>;
			interrupts = <GIC_PPI 13 IRQ_TYPE_LEVEL_LOW>,
			<GIC_PPI 14 IRQ_TYPE_LEVEL_LOW>,
			<GIC_PPI 11 IRQ_TYPE_LEVEL_LOW>,
			<GIC_PPI 10 IRQ_TYPE_LEVEL_LOW>;
		};

		gic: interrupt-controller@c000000 {
			compatible = "arm,gic-v3";
			#interrupt-cells = <3>;
			#address-cells = <0>;
			#size-cells = <1>;
			#redistributor-regions = <1>;
			interrupt-controller;
			reg = <0xc000000 0x40000>, /* distributor */
			<0xc040000 0x200000>; /* redistributor */
			interrupts = <GIC_PPI 9 IRQ_TYPE_LEVEL_HIGH>;
			ppi-partitions {
				ppi_cluster0: interrupt-partition-0 {
					affinity = <&cpu0 &cpu1 &cpu2 &cpu3>;
				};
				ppi_cluster1: interrupt-partition-1 {
					affinity = <&cpu4 &cpu5 &cpu6 &cpu7>;
				};
			};
		};

		uart0: serial@11001000 {
			compatible = "mediatek,mt6797-uart",
				     "mediatek,mt6577-uart";
			reg = <0x11001000 0x400>;
			interrupts = <GIC_SPI 397 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&clk26m>;
		};

		performance: performance-controller@11bc00 {
			compatible = "mediatek,cpufreq-hw";
			reg = <0x0011bc10 0x120>,
			      <0x0011bd30 0x120>;
			reg-names = "performance-domain0",
					"performance-domain1";
			#performance-domain-cells = <1>;
		};
	};
};
